.product-card-container {
    outline: 1px solid red;
    display: flex; 

    justify-content: center; 
    flex-direction: column;  
    align-items: center;     
    gap: 20px;               

    
    @media screen and (width > 700px) { 
        flex-direction: row;
        flex-wrap: wrap;            
        justify-content: center;    
        gap: 20px;                  
    }
}

.product-card {
    padding-bottom: 2vh;
    width: clamp(300px, 50%, 450px);
    outline: 1px solid limegreen;
    background-color: #fcf5ed;
    border: 1px solid #d3c6b5;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; 

    
    @media screen and (width > 700px) {
        width: calc(50% - 10px);
    }

    img {
        border-radius: unset;
        outline: none;
        width: 100%;
        aspect-ratio: 2 / 1;
        object-fit: cover;
    }

    button {
        display: block;
        margin: 0 auto;
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1em;
        margin-top: 15px;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #45a049;
        }
    }

    h3 {
        text-align: center;
        margin: 2vh 0;
        color: #333;
    }
    p {
        text-align: center;
        margin: 2vh 0;
        color: #666;
    }
}